/*
 background-color: red|
                   rgb(255,0,0)|
                   hex(#f0f0f0)|
                   rgba(255,0,0.7)
 background-image: url('images/fon.png')|
 background-repeat: repeat(по умолчанию)|
                    no-repeat |
                    repeat |
                    space |
                    round |
 background-
*/


